<?xml version="1.0"?>
<model>
  <name>station_worker_actor</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Robotnik Automation</name>
    <email>support@robotnik.es</email>
  </author>
  <description>Animated worker actor patrolling inside the electrical substation.</description>
</model>
