<?xml version="1.0"?>
<launch>
  <arg name="launch_rviz" default="true"/>
  <arg name="rviz_config" default="$(find rb1_base_gazebo)/rviz/rb1_neo_workshop_frontier_mapping.rviz"/>
  <arg name="planner_frequency" default="0.33"/>
  <arg name="progress_timeout" default="8.0"/>
  <arg name="potential_scale" default="0.002"/>
  <arg name="orientation_scale" default="0.0"/>
  <arg name="gain_scale" default="0.8"/>
  <arg name="min_frontier_size" default="0.8"/>
  <arg name="visualize" default="true"/>
  <arg name="blacklist_radius" default="1.0"/>
  <arg name="blacklist_duration" default="60.0"/>
  <arg name="stale_goal_timeout" default="15.0"/>
  <arg name="stale_current_goal_timeout" default="6.0"/>
  <arg name="recent_recovery_window" default="45.0"/>
  <arg name="explore_restart_cooldown" default="30.0"/>

  <include file="$(find rb1_base_gazebo)/launch/rb1_base_gazebo.launch">
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="launch_robot_a" value="true"/>
    <arg name="launch_robot_b" value="false"/>
    <arg name="launch_robot_c" value="false"/>
    <arg name="gazebo_world" value="$(find rb1_base_gazebo)/worlds/neo_workshop.world"/>
    <arg name="x_init_pose_robot_a" value="0.0"/>
    <arg name="y_init_pose_robot_a" value="0.0"/>
    <arg name="z_init_pose_robot_a" value="0.0"/>
    <arg name="init_yaw_robot_a" value="0.0"/>
    <arg name="gmapping_robot_a" value="true"/>
    <arg name="amcl_and_mapserver_robot_a" value="false"/>
    <arg name="move_base_robot_a" value="false"/>
  </include>

  <include file="$(find rb1_base_gazebo)/launch/rb1_neo_workshop_frontier_move_base.launch"/>

  <node name="frontier_goal_guard"
        pkg="rb1_base_gazebo"
        type="neo_workshop_frontier_goal_guard.py"
        ns="robot"
        output="screen">
    <param name="blacklist_radius" value="$(arg blacklist_radius)"/>
    <param name="blacklist_duration" value="$(arg blacklist_duration)"/>
    <param name="stale_goal_timeout" value="$(arg stale_goal_timeout)"/>
    <param name="stale_current_goal_timeout" value="$(arg stale_current_goal_timeout)"/>
    <param name="recent_recovery_window" value="$(arg recent_recovery_window)"/>
    <param name="explore_restart_cooldown" value="$(arg explore_restart_cooldown)"/>
  </node>

  <node name="explore"
        pkg="explore_lite"
        type="explore"
        ns="robot"
        output="screen"
        respawn="true"
        respawn_delay="1.0">
    <param name="costmap_topic" value="map"/>
    <param name="costmap_updates_topic" value="map_updates"/>
    <param name="robot_base_frame" value="robot_base_footprint"/>
    <param name="planner_frequency" value="$(arg planner_frequency)"/>
    <param name="progress_timeout" value="$(arg progress_timeout)"/>
    <param name="potential_scale" value="$(arg potential_scale)"/>
    <param name="orientation_scale" value="$(arg orientation_scale)"/>
    <param name="gain_scale" value="$(arg gain_scale)"/>
    <param name="min_frontier_size" value="$(arg min_frontier_size)"/>
    <param name="visualize" value="$(arg visualize)"/>
    <param name="transform_tolerance" value="0.5"/>
  </node>
</launch>
